@{
    Layout = "_LayoutHC";
}
@* body {
  background-color: #CACFD2;
} *@

<!DOCTYPE html>
<html>
<head>
<style>
    body {
  background-color: #EBF5FB;
         }

    .card {
    padding-top: 20px;
    margin: 10px 0 20px 0;
    background-color: #ffffff;
    border-top-width: 0;
    border-bottom-width: 2px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    -webkit-box-shadow: solid;
    -moz-box-shadow: solid;
    box-shadow: solid;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.card .card-heading {
    padding: 0 20px;
    margin: 0;
}

.card .card-heading.simple {
    font-size: 20px;
    font-weight: 300;
    color: #777;
    border-bottom: 1px solid #e5e5e5;
}

.card .card-heading.image img {
    display: inline-block;
    width: 46px;
    height: 46px;
    margin-right: 15px;
    vertical-align: top;
    border: 0;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
}

.card .card-heading.image .card-heading-header {
    display: inline-block;
    vertical-align: top;
}

.card .card-heading.image .card-heading-header h3 {
    margin: 0;
    font-size: 14px;
    line-height: 16px;
    color: #262626;
}

.card .card-heading.image .card-heading-header span {
    font-size: 12px;
    color: #999999;
}

.card .card-body {
    padding: 0 20px;
    margin-top: 20px;
}

.card .card-media {
    padding: 0 20px;
    margin: 0 -14px;
}

.card .card-media img {
    max-width: 100%;
    max-height: 100%;
}

.card .card-actions {
    min-height: 30px;
    padding: 0 20px 20px 20px;
    margin: 20px 0 0 0;
}

.card .card-comments {
    padding: 20px;
    margin: 0;
    background-color: #f8f8f8;
}

.card .card-comments .comments-collapse-toggle {
    padding: 0;
    margin: 0 20px 12px 20px;
}

.card .card-comments .comments-collapse-toggle a,
.card .card-comments .comments-collapse-toggle span {
    padding-right: 5px;
    overflow: hidden;
    font-size: 12px;
    color: #999;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.card-comments .media-heading {
    font-size: 13px;
    font-weight: bold;
}

.card.people {
    position: relative;
    display: inline-block;
    width: 500px;
    height: 300px;
    padding-top: 0;
    margin-left: 20px;
    overflow: hidden;
    vertical-align: top;
}

.card.people:first-child {
    margin-left: 0;
}

.card.people .card-top {
    position: absolute;
    top: 0;
    left: 0;
    display: inline-block;
    width: 170px;
    height: 150px;
    background-color: #ffffff;
}

.card.people .card-top.green {
    background-color: #53a93f;
}

.card.people .card-top.blue {
    background-color: #427fed;
}

.card.people .card-info {
    position: absolute;
    top: 150px;
    display: inline-block;
    width: 100%;
    height: 101px;
    overflow: hidden;
    background: #ffffff;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.card.people .card-info .title {
    display: block;
    margin: 8px 14px 0 14px;
    overflow: hidden;
    font-size: 16px;
    font-weight: bold;
    line-height: 18px;
    color: #404040;
}

.card.people .card-info .desc {
    display: block;
    margin: 8px 14px 0 14px;
    overflow: hidden;
    font-size: 12px;
    line-height: 16px;
    color: #737373;
    text-overflow: ellipsis;
}

.card.people .card-bottom {
    position: absolute;
    bottom: 0;
    left: 0;
    display: inline-block;
    width: 100%;
    padding: 10px 20px;
    line-height: 29px;
    text-align: center;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.card.hovercard {
    position: relative;
    padding-top: 0;
    overflow: hidden;
    text-align: center;
    background-color: white;
}

  
.card.hovercard .cardheader {
    background: #1F618D;
    background-size: cover;
    height: 70px;
}
.card.hovercard .cardjudul {
    background: #17202A;
    background-size: cover;
    height: 350px;
}

.card.hovercard .body {
    background-color: rgba(214, 224, 226, 0.2);
    background-size: cover;
    height: 250px;
}

.card.hovercard .avatar {
    position: relative;
    top: -50px;
    margin-bottom: -50px;
}

.card.hovercard .avatar img {
    width: 100px;
    height: 100px;
    max-width: 100px;
    max-height: 100px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    border: 5px solid rgba(20,105,148,0.5);
}

.card.hovercard .info {
    padding: 4px 8px 10px;
}

.card.hovercard .info .title {
    margin-bottom: 4px;
    font-size: 24px;
    line-height: 1;
    color: white;
    vertical-align: middle;
}

.card.hovercard .info .desc {
    overflow: hidden;
    font-size: 12px;
    line-height: 20px;
    color: #737373;
    text-overflow: ellipsis;
}

.card.hovercard .bottom {
    padding: 0 20px;
    margin-bottom: 17px;
}

.btn{ border-radius: 50%; width:32px; height:32px; line-height:18px;  }
</style>
</head>

<body>

 <br><br><br>
 
<div class="container">
	<div class="row">
		<div class="col-lg-12 col-sm-5">

            <div class="card hovercard">
                <div class="cardjudul ">
                    <img style="width:107%" src="https://www.incimages.com/uploaded_files/image/970x450/getty_690855708_331314.jpg">
                </div>
                @* <div class="avatar">
                    <img style="background:#FFFFFF" src="https://www.commsoft.ca/Public/img/icons/Employes-lg.png">
                </div> *@
            </div>
            </div> </div></div>
            <br><br>

<div class="container">
	<div class="row">
		<div class="col-lg-4 col-sm-5">
@{ 
    var evnt = ViewBag.Event;
    var employee = ViewBag.Employee;
    var leave = ViewBag.Leave;
    var male = ViewBag.Male;
    var female = ViewBag.Female;
    var applicantCount = ViewBag.ApplicantCount;
    var presence = ViewBag.Presence;
    
}
            <div class="card hovercard" style="box-shadow: 1px 1px 10px #5499C7;">
                <div class="cardheader ">
                    <br>
                    <h4 style="color:#F5FBFF; font-family:Helvetica, sans-serif">Total Employee</h4>
                </div>
                @* <div class="avatar">
                    <img style="background:#FFFFFF" src="https://www.commsoft.ca/Public/img/icons/Employes-lg.png">
                </div> *@
                <div class="info">
                    <div class="title">
                        <h1 style="color:#FF5693"><b>@employee</b></h1>
                    </div>
                    @* <div class="desc">Passionate designer</div> *@
                </div>
                <div class="bottom">
                    <p style="color:#21618C">Male @male / Female @female</p>
                </div>
            </div>
            </div>

        <div class="col-lg-4 col-sm-5">
             <div class="card hovercard " style="box-shadow: 1px 1px 10px #5499C7 ;">
                <div class="cardheader ">
                      <br>
                    <h4 style="color:#F5FBFF; font-family:Helvetica, sans-serif">Out Today</h4>
                </div>
                <div class="info">
                    <div class="title">
                        <h1 style="color:#FF5693"><b>@leave</b></h1>
                    </div>
                    @* <div class="desc">Passionate designer</div> *@
                </div>
                <div class="bottom">
                    <p style="color:#21618C">@leave person out today</p>
                </div>
                </div>
            </div>

        <div class="col-lg-4 col-sm-5">
             <div class="card hovercard" style="box-shadow: 1px 1px 10px #5499C7 ;">
                <div class="cardheader ">
                    <br>
                    <h4 style="color:#F5FBFF; font-family:Helvetica, sans-serif">Today's Presence</h4>
                </div>
                <div class="info">
                    <div class="title">
                        <h1 style="color:#FF5693"><b>@presence</b></h1>
                    </div>
                    @* <div class="desc">Passionate designer</div> *@
                </div>
                <div class="bottom">
                    <p style="color:#21618C">@presence person presence</p>
                </div>
                </div>
            </div>
        </div>
<br>
    <div class="row">
        <div class="col-lg-6 col-sm-5">
             <div class="card hovercard" style="box-shadow: 1px 1px 15px #5499C7 ;">
                <div class="cardheader ">
                    <br>
                    <h4 style="color:#F5FBFF; font-family:Helvetica, sans-serif">Upcoming Event</h4>
                </div>
                <div class="body">
                <div style="margin-left:47px; margin-right:50px"><br>
                    <table style="background:white" class="table table-hover text-center">
            <tbody class="text-center">
   @{
    <br>
    <thead class="thead-dark" class="text-center;">
  </thead>    if(evnt!=null){
    foreach(var a in evnt) { 
        var date = a.day.ToString("dd MMMM yyyy");
            <tr><td><img style="width:20px" src="https://lh4.googleusercontent.com/proxy/dCm4c2Zj3X73VGjvFo_9RofpstH-iHcQM7eD8ZExA3Kr9bCLSL35pfc_njReCHtxqiSB05eL7a_uLLBG_FmSbE8o_uJQy0qr6x4BlPEr-3lcvCQ"></td>
                <td style="color:#21618C"><b>@a.Name</b></td>
                <td style="color:#21618C">@date</td>
            </tr> }
            } 
    }
 </tbody> 
    </table></div>
                </div>
                </div>
            </div>

                <div class="row">
        <div class="col-lg-6 col-sm-5">
             <div class="card hovercard" style="box-shadow: 1px 1px 15px #5499C7 ;">
                <div class="cardheader ">
                    <br>
                    <h4 style="color:#F5FBFF; font-family:Helvetica, sans-serif">New Applicants</h4>
                </div>
                <div class="body">
                <div style="margin-left:47px; margin-right:50px"><br>
                <table style="background:white" class="table table-hover text-center">
            <tbody>
   @{ var applicantView = ViewBag.ApplicantView;
    <br>
    <thead class="thead-dark" class="text-center;">
  </thead>    if(applicantView!=null){
    foreach(var a in applicantView) { 
            <tr><td><img style="width:20px" src="https://freeiconshop.com/wp-content/uploads/edd/person-outline.png"></td>
                <td style="color:#21618C"><b>@a.Name</b></td>
                <td style="color:#21618C">@a.Occupation</td>
                <td style="color:#21618C">@a.Placement</td>
            </tr> }
            } 
    }
 </tbody> 
    </table></div>

                </div>
                </div>
            </div> 

</div>

	</div>
    <br><br><br><br>
</div>
  </div>
</div><br>
</body>
</html>